# 模型权重
**/*.pth
**/model_wts/

# 数据集与视频
data/
data_ucf_101/
*.avi
*.mp4
*.mov
*.mkv
*.wmv
*.flv
*.webm

# 图片
*.jpg
*.jpeg
# *.png
*.gif
*.bmp
*.tiff
*.webp

# 忽略 TensorBoard 日志
**/log/
**/runs/
events.out.tfevents.*

# 忽略 PyCharm 配置
.idea/

# Python 缓存
__pycache__/
*.pyc